name: Cypress Test
on:
  push:
    branches:
      - main
  schedule:
      - cron: "15 9 * * 1-5"  # 15 minutes, 9 hours, any day of the month, every month, monday to friday
jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
      - name: Set up environment variable
        run: echo "export SERVER_URL=127:0.0.1.8080" >> $GITHUB_ENV
      - name: Cypress.io 
        uses: cypress-io/github-action@v6.5.0
        with:
          browser: chrome
          start: npm run test
        env:
          CYPRESS_BASE_URL: ${{ env.SERVER_URL }}
